$pc_size: 1440px;
$md_size: 768px;
$sp_size: 375px;

$breakpoints: (
  'sp': 'screen and (max-width: 375px)',
  'md': 'screen and (max-width: 768px)',
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@function pc_size($size, $site_width: 1440){
  $no_unit_size: $size / ($size * 0 + 1);
  @return (100 / $site_width) * $no_unit_size * 1vw;
}
@function md_size($size, $site_width: 768){
  $no_unit_size: $size / ($size * 0 + 1);
  @return (100 / $site_width) * $no_unit_size * 1vw;
}
@function sp_size($size, $site_width: 375){
  $no_unit_size: $size / ($size * 0 + 1);
  @return (100 / $site_width) * $no_unit_size * 1vw;
}

@mixin base_btn{
  background: #000;
  color: #fff;
  display: block;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  width: 160px;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  @include mq(md) {
    width: md_size(160px);
    height: md_size(35px);
    line-height: md_size(35px);
    font-size: 1.2rem;
    min-width: 100px;
  }
  @include mq(sp) {
    width: sp_size(160px);
    height: sp_size(35px);
    line-height: sp_size(35px);
    font-size: 1.2rem;
  }
}

html {
  font-size: calc(100vw / 144);
  @include mq(md) {
    font-size: calc(100vw / 76.8);
  }
  @include mq(sp) {
    font-size: calc(100vw / 37.5);
  }
}

body{
  color: #333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

a{
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    opacity: .8;
    transition: 0.3s;
  }
}

.header{
  position: relative;
  &-nav{
    color: #ffffff;
    z-index: 6;
    position: relative;
  }
  &-logo{
    position: absolute;
    top: 30px;
    left: 58px;
    @include mq(md) {
      top: 3.5rem;
      left: 3.0rem;
      width: md_size(189px);
    }
    @include mq(sp) {
      width: sp_size(189px);
      top: 20px;
      left: 15px;
    }
  }
}

.footer{
  display:flex;
  justify-content: center;
  font-size: 10px;
  background: #525252;
  color: white;
  align-items: center;
  height: 50px;
  padding-right: 10px;
}

.humberger{
  display: block;
  position: relative;
  width: 25px;
  height: 13px;
  cursor: pointer;
  & i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: transform .5s, opacity .5s;
  }
  & i:nth-child(1){
    top: 0;
  }
  & i:nth-child(2){
    top: 0;
    bottom: 0;
    margin: auto;
  }
  & i:nth-child(3){
    bottom: 0;
  }
  &.show i {
    &:nth-child(1) {
        transform: translateY(5px) rotate(-30deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translateY(-5px) rotate(30deg);
    }
  }
  &-container{
    position: absolute;
    top: 36px;
    right: 57px;
    display: flex;
    align-items: center;
    z-index: 5;
    @include mq(md) {
      top: 3.7rem;
      right: 3.0rem;
    }
    @include mq(sp) {
      top: 24px;
      right: 14px;
    }
  }
  &-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-left: 6px;
  }
}

.drawer {
    width: 520px;
    height: 900px;
    background: #222;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    z-index: 5;
    @include mq(sp) {
      width: 100%;
      height: 100%;
    }
    &.show{
      opacity: .95;
      visibility: visible;
    }
    &-container{
      width: 120px;
      height: 326px;
      margin: 200px auto 0;
    }
    &-item{
      margin-bottom: 20px;
      & a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
      }
    }
    &-mask{
      display: none;/*はじめは隠しておく*/
      position: fixed;
      z-index: 3;
      top: 0;/*全体に広がるように*/
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: .3s ease-in-out;
      &.show{
        display: block;
        opacity: .5;
      }
    }
}
